{{#partial "content"}}
    <section class="landing">
        <form class="form" action="/new/hero" method="post">
            <h1>Create Your Hero</h1>
            <div class="form-group">
                <label>Hero's name</label>
                <input type="text" placeholder="" name="name" required class="form-control">
            </div>
            <div class="form-group">
                <label>Hero's age</label>
                <input type="number" placeholder="" name="age" required class="form-control">

            </div>
            <div class="form-group">
                <label>Hero's Special_power</label>
                <input type="text" placeholder="" name="power" required class="form-control">

            </div>
            <div class="form-group">
                <label>Hero's weakness</label>
                <input type="text" placeholder="" name="weakness" required class="form-control">
            </div>

            <input class="btns" type="submit">
        </form>
    </section>
{{/partial}}
{{> layout.hbs}}