{{#partial "content"}}

    <h1>List of heroes!</h1>

    {{#if hero}}
        {{#each hero}}
            <p><a href="/squad/{{squadId}}/heroe/{{id}}">{{name}}</a></p>
        {{/each}}
    {{else}}
        <p>No heroes available!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}