{{#partial "content"}}
    <section class="landing">
        <form class="form" action="/squad/new" method="post">
            <h1>Create Your Squad</h1>
            <div class="form-group">
                <label>Enter-Squad name</label>
                <input type="text" placeholder="" name="squadName" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Enter-Maximum-size</label>
                <input type="number" placeholder="" name="size"  class="form-control"  required>
            </div>
            <div class="form-group">
                <label>Enter-Mission</label>
                <input type="text" placeholder="" name="cause"  class="form-control"  required>
            </div>
            <input type="submit" class="btns">
        </form>
    </section>
{{/partial}}
{{> layout.hbs}}