{{#partial "content"}}
    <section class="homepage">
        <div class="success" style="margin-left:100px;">
            <h3 style="text-align:center;"><em>Success <br> <br> <span>{{ item }} </span> <br> Has been created successfully <br>{{sqId}}</em></h3>
            <button style="margin-top:100px;align-item;center:"><a class="btns btn-green" href="/hero">View Heroes</a></button>
            <button><a class="btns btn-green" href="/squad">View Squad</a></button>
        </div>
    </section>
{{/partial}}
{{> layout.hbs}}